<ul>
    <li>Design, Development and maintenance of a LMS (Learning Management System).</li>
    <li>Database modeling.</li>
    <li>Eliciting and Analyzing of system requirements.</li>
    <li>Technical support for users by email or phone.</li>
    <li>Refactored and fixed codebase in case of software anomalies.</li>
    <li>Developed analytic reports using SQL.</li>
    <li>Back-end and Front-end Development.</li>
    <li>Stack: PHP,Javascript,Laravel 4.2,Linux, Nginx,Bootstrap,MySQL and Git.</li>
</ul>