<ul>
  <li>
    Developed an API for a platform (SaaS) used to measure, engage and evaluate
    through gamification.
  </li>
  <li>Created reports using SQL.</li>
  <li>
    Studied the technical feasibility of new features requested by the product
    team.
  </li>
  <li>Solved users technical issues and fixed bugs.</li>
  <li>
    Implemented a Single sign-on mechanism that improved greatly the number of
    new accounts created.
  </li>
  <li>Integrated payment methods with Stripe.</li>
  <li>Monitored API efficiency using New Relic and Sentry.</li>
  <li>Helped and guided interns in their daily assignments.</li>
  <li>Adopted agile methodologies in several projects.</li>
  <li>Worked in an agile squad.</li>
  <li>
    Technologies: Node.js – Express.js, MSSQL, Sequelize
    ORM, GIT, GitHub, Linux, Docker, Postman and Swagger.
  </li>
</ul>
