<ul>
    <li>
        Requirement Elicitation and Analysis for a TV/Radio Administrative Management
        System.
    </li>
    <li>
        Trained users and introduced new systems in a total of 8 TV stations spread throughout
        the state of Paraná.
    </li>
    <li>
        Presented new projects for managers and directors.
    </li>
    <li>
        Technical Support and System Administration.
    </li>
    <li>
        Created tools to meet specific needs of the Telecommunications Engineering sector.
    </li>
    <li>
        Maintained and Developed different applications using Microservices and Monolithic architecture.
    </li>
    <li>
        Developed analytical reports in PowerBI.
    </li>
    <li>
        Stack: Node.js - Express.js, Electron, React, PHP - Laravel 5.6, Python, MySQL,
        GIT, Bootstrap, HTML, CSS, JavaScript, Linux, Docker and GitLab CI / CD.
    </li>
</ul>