<ul>
  <li>Helped develop a tool used globally to update Volvo's vehicle software.</li>
  <li>Engaged in vehicle's diagnostic domain.</li>
  <li>Worked in an international workplace with teams based in Brazil, Sweden, and India.</li>
  <li>Used English as a default language to perform daily activities.</li>
  <li>Acted as third-level support to help troubleshoot the vehicle's diagnostic app.</li>
  <li>Adopted Scaled Agile Framework (SAFe) for the deliveries.</li>
  <li>Documented and developed Web API with .NET 6.</li>
  <li>Reinforced the best practices of Software Engineering through Pull Request reviews.</li>
  <li>Guided developers in pair programming sessions.</li>
  <li>Technologies: C#, .NET 6, MongoDB, Git, Azure DevOps, Windows, Visual Studio, and Swagger</li>
</ul>