<h2 class="accordion w-100 text-warning">
    <i class="fas {{ .Site.Params.projects.icon }}"></i>
    {{ .Site.Params.projects.title }}
</h2>
<div class="panel overflow-hidden">
    <dl>
        {{ range.Site.Params.projects.list }}
        <dt>
            <a class="text-warning" href="{{ .url }}"><code>{{ .title }}</code></a>
        </dt>
        <dd class="text-white mb-0 ml-3">{{ .description | markdownify }}
            <a class="text-warning" href="{{ .source }}"> <i class="fab fa-github-alt"></i></a>
        </dd>

        {{ end }}
    </dl>
</div>